body {
	background-color: white;
	margin: 0; 
}
header {
	background-color: white;
	border-bottom: #080142 solid 1px;
	box-shadow: 1px 1px 15px 1px rgb(179, 178, 178);
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #000033;
	height: 100px;
	width: 100%;
	position: fixed;
	text-align: justify;
	overflow: scroll;
	margin-top: 0p
}
.nav-link {
	float: right;
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
	color: #000033;
}
.nav-link:hover {
	border: solid #f2f2f2 0.1px;
	box-shadow: 1px 1px 15px 1px rgb(179, 178, 178);
	background-color: #f2f2f2;
	opacity: 
}
b {
	font-family: font-family: 'Montserrat', sans-serif;
}
.logo {
	height: 90px !important;
	width: auto;
	border: groove .5px white;
	border-radius: 100%;
	vertical-align: middle;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	padding: 0px;
}
.title-header{
	height: 50px !important;
	width: auto;
	vertical-align: middle;
	padding: 0px;
}

textarea {
  width: 100px;
  height: 55px;
  margin-top: 30px;
  padding-top: 30px;
  box-sizing: border-box;
  border: none;
  resize: none;
  float: right;
}
/*slideshow*/
.above {
	width: 100%;
	height: 600px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
}

div.gallery {
	border-bottom: #080142 solid 1px;
	box-shadow: 1px 1px 15px 1px rgb(179, 178, 178);
	margin-bottom: 10px;

}

div.gallery:hover {
  border: 1px solid #777;
  opacity: 0.75;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.disclaimer {
	width: 100%;
	padding-bottom: 25px;
 	background-color: white;
 	color: #000033;
 	border-top: double #000033 5px;
 	margin-top: 15px;
}
.subpage-main-image {
	width: 100%;
	height: auto;
	border-bottom: #080142 solid 0px;
	box-shadow: 1px 1px 15px 1px rgb(179, 178, 178);
	margin-bottom: 25px;
}
.itemsincart {
	border-bottom: 10px double #000033;
}
.itemsincart.h1 {
	color: #000033;
}
.proceedtocheckout {
	display: block;
	background-color: #000033;
	color: white;
	margin-top: 5px;
	border: solid #080142 2px;
	padding: 10px;
	text-align: center;
	text-decoration: underline;
}
.proceedtocheckout:hover {
	opacity: 0.75;
}
.dummy-details {
	border: double #000033 10px;
	padding: 40px;
	height: auto;
	width: 100%;
}
