html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Josefin Sans', sans-serif;
}
#brand {
    color: black !important;
    font-size: 142%;
}
#navigation {
    position: fixed;
    padding: 1.5%;
    border-bottom: 2px solid black;
    width: 100%;
    background-color: white !important;
}
#home {
    background-attachment: fixed;
    background-image: url(twoimg.jpg);
    background-size: cover !important;
    height: 100vh;
}
#about {
    height: 100vh;   
    background-color: whitesmoke;
    padding: 8%;
}
#jumbo {
    width: 70%;
    font-family: 'Josefin Sans', sans-serif;

}